<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Astronomy Picture of the Day
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="apodData">
    <img [src]="apodData.url" alt="APOD">
    <ion-card-header>
      <ion-card-title>{{ apodData.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ apodData.explanation }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>