<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Astronomy Picture of the Day
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos">
        <ion-card>
          <img [src]="photo.img_src" alt="Mars Rover Photo">
          <ion-card-content>
            <p>Camera: {{ photo.camera.full_name }}</p>
            <p>Date: {{ photo.earth_date }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
