<ion-header>
  <ion-toolbar>
    <ion-title>
      NASA App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la NASA App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Explora las maravillas del espacio con información oficial de la NASA.
        Descubre imágenes astronómicas, datos de misiones espaciales y mucho más.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/apod-list">
    <ion-icon name="rocket-outline" slot="start"></ion-icon>
    Información de la NASA
  </ion-button>
</ion-content>